version: '{build}'  
pull_requests:  
  do_not_increment_build_number: true
branches:  
  only:
  - master
  - dev
skip_commits:
  message: /(Created.*\.(png|jpg|jpeg|bmp|gif))|(README.md)/
nuget:
  disable_publish_on_pr: true
build_script:  
- ps: .\Build.ps1
test: off  
artifacts:  
- path: .\artifacts\**\*.nupkg
  name: NuGet
deploy:  
- provider: NuGet
  server: https://www.myget.org/F/bapul/api/v2/package
  api_key:
    secure: X8/Cm8f2M7FVtOuQftWgMlQv8XNMXJ8RbtVkeQkTgoaLb5Bv6Vf5KWcYZSEJ/wIc
  skip_symbols: true
  on:
    branch: dev
- provider: NuGet
  name: production
  api_key:
    secure: OdlepcT+ry0jb8FB3n6AQV23YA5/TtBC572OTrE/oLiKuMu807Re9Pqo78fYXbNI
  on:
    branch: master
    appveyor_repo_tag: true