@model FlowTest.AspNet.dnx.ViewModels.PaymentViewModel
@using Iamport.RestApi.Models
@{
    ViewBag.Title = "I'mport; REST API client for .NET (dnx)";
}
<form asp-controller="Payment" asp-action="Index" method="post" role="form" class="form-horizontal">
    <div class="form-group">
        <label asp-for="PaymentGateway" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <select asp-for="PaymentGateway" asp-items="Html.GetEnumSelectList<PaymentGateway>()" class="form-control"></select>
            <span asp-validation-for="PaymentGateway" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Method" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <select asp-for="Method" asp-items="Html.GetEnumSelectList<PaymentMethod>()" class="form-control"></select>
            <span asp-validation-for="Method" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <input asp-for="UseEscrow" />
                <label asp-for="UseEscrow"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CustomerName" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CustomerEmail" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="CustomerEmail" class="form-control" />
            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CustomerPhoneNumber" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="CustomerPhoneNumber" class="form-control" />
            <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CustomerAddress" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="CustomerAddress" class="form-control" />
            <span asp-validation-for="CustomerAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CustomerPostCode" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="CustomerPostCode" class="form-control" />
            <span asp-validation-for="CustomerPostCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="VirtualBankExpiration" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="VirtualBankExpiration" class="form-control" />
            <span asp-validation-for="VirtualBankExpiration" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AppScheme" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="AppScheme" class="form-control" />
            <span asp-validation-for="AppScheme" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary btn-lg">결제요청</button>
        </div>
    </div>
</form>